build/
icc.xcodeproj/xcuserdata/*
icc.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store
**/*.pbxuser
*.pyc
.baler_env
/icc.xcodeproj/project.xcworkspace/xcshareddata/
/icc.xcodeproj/project.xcworkspace/xcshareddata/icc.xccheckout
/Classes/CardIOIccVersion.h
/Release/SampleApp/ScanExample.xcodeproj/project.xcworkspace/
/Release/SampleApp/ScanExample.xcodeproj/xcuserdata/
/Release/SampleApp-Swift/SampleApp-Swift.xcodeproj/project.xcworkspace/
/Release/SampleApp-Swift/SampleApp-Swift.xcodeproj/xcuserdata/

# Carthage
Carthage/Build
