//
//  CardIO_Framework.xcconfig
//  icc
//
//

ARCHS = arm64 armv7 armv7s
ONLY_ACTIVE_ARCH = NO

GCC_VERSION = com.apple.compilers.llvm.clang.1_0

CODE_SIGN_IDENTITY = iPhone Developer

DSTROOT = /tmp/CardIO.dst
SKIP_INSTALL = YES

KEEP_PRIVATE_EXTERNS = NO

PRODUCT_NAME = CardIO

ALWAYS_SEARCH_USER_PATHS = NO

HEADER_SEARCH_PATHS = $(SRCROOT)/opencv_device/include $(SRCROOT)/dmz

LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Classes"

GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SupportFiles/CardIO-Prefix.pch

CLANG_CXX_LIBRARY = libc++

GCC_ENABLE_CPP_EXCEPTIONS = YES

CLANG_ENABLE_OBJC_ARC = YES

PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
COPY_PHASE_STRIP = YES
// Target iPhone and iPad
TARGETED_DEVICE_FAMILY = 1,2

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

DEFINES_MODULE = YES
INFOPLIST_FILE = Classes/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = com.lumberlabs.CardIO

CURRENT_PROJECT_VERSION = 1
VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic

IPHONEOS_DEPLOYMENT_TARGET = 8.0

GCC_DYNAMIC_NO_PIC = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_NO_COMMON_BLOCKS = NO

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -Wno-c++11-narrowing

GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

CLANG_CXX_LANGUAGE_STANDARD = gnu++0x

CLANG_ENABLE_MODULES = YES

ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = NO

CLANG_WARN_EMPTY_BODY = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO
CLANG_WARN_UNREACHABLE_CODE = NO
GCC_WARN_UNUSED_FUNCTION = NO

CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
CLANG_WARN_OBJC_ROOT_CLASS = YES

