//
//  icc_Static_Library.xcconfig
//  icc
//
//

CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE =
TARGETED_DEVICE_FAMILY = 1,2
OTHER_LDFLAGS = $(inherited) -ObjC -lc++ -lstdc++
INFOPLIST_FILE = SupportFiles/icc-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.lumberlabs.demo
PRODUCT_NAME = $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Classes"

IPHONEOS_DEPLOYMENT_TARGET = 6.0
GCC_DYNAMIC_NO_PIC = NO

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SupportFiles/icc_Prefix.pch
CLANG_CXX_LIBRARY = libc++

CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = YES
CLANG_ENABLE_OBJC_ARC = YES

// Settings Added For Framework
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

