//
//  icc_Debug.xcconfig
//  icc
//
//

#include "icc.xcconfig"

COPY_PHASE_STRIP = NO

GCC_OPTIMIZATION_LEVEL = 0

GCC_PREPROCESSOR_DEFINITIONS = CARDIO_DEBUG=1 USE_CAMERA=0 DMZ_DEBUG=1 TEST_GENERATED_MODELS=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = CARDIO_DEBUG=1 USE_CAMERA=0 DMZ_DEBUG=1 SIMULATE_CAMERA=1 DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = CARDIO_DEBUG=1 USE_CAMERA=1 DMZ_DEBUG=1 DEBUG=1 TEST_GENERATED_MODELS=1

