//
//  Project.xcconfig
//  icc
//
//

SDKROOT = iphoneos
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

HEADER_SEARCH_PATHS = $(SRCROOT)/opencv_device/include

IPHONEOS_DEPLOYMENT_TARGET = 6.0

GCC_C_LANGUAGE_STANDARD = c99

CLANG_CXX_LIBRARY = libc++

CLANG_ENABLE_MODULES = NO
CLANG_MODULES_AUTOLINK = NO

CLANG_ENABLE_OBJC_ARC = YES

CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
GCC_WARN_UNUSED_VARIABLE = YES

RUN_CLANG_STATIC_ANALYZER = YES

GCC_THUMB_SUPPORT = NO
